<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      
      <fieldType name="Multilist" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="Checklist" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="Multilist with Search" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="Treelist" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="Treelist with Search" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="TreelistEx" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="tree list" type="Sitecore.Support.Data.Fields.MultiListField, Sitecore.Support.103875"
        patch:instead="*[@type='Sitecore.Data.Fields.MultilistField,Sitecore.Kernel']"/>
      <fieldType name="Rich Text" type="Sitecore.Support.Data.Fields.HtmlField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.HtmlField,Sitecore.Kernel']"/>
      <fieldType name="html" type="Sitecore.Support.Data.Fields.HtmlField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.HtmlField,Sitecore.Kernel']"/>
      <fieldType name="Layout" type="Sitecore.Support.Data.Fields.LayoutField, Sitecore.Support.103875"
        patch:instead="*[@type='Sitecore.Data.Fields.LayoutField,Sitecore.Kernel']"/>
      <fieldType name="Rules" type="Sitecore.Support.Data.Fields.RulesField, Sitecore.Support.103875" resizable="true"
        patch:instead="*[@type='Sitecore.Data.Fields.RulesField,Sitecore.Kernel']"/>
     
    </fieldTypes>

  </sitecore>
</configuration>